<html>
<head>
    <title>
        My eBay&nbsp;Summary</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="eBay Application">
    <meta name="author" content="eBay: Apps">
    <meta name="viewport" id="viewportMeta" content="width=1200"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link href="/css/extr.css" type="text/css" rel="stylesheet">
    <link href="/css/logo.css" type="text/css" rel="stylesheet">
    <link href="/css/prof.css" type="text/css" rel="stylesheet">
    <style>
        .my-ebay p.menu-head {
            padding-left: 15px;
        }
        input[type='radio'] {
            vertical-align: text-bottom;
        }
    </style>
</head>
<body class="summary-ui  lang-en site-id-0 geo-id-0 time-left-col  sz1200">
<!--  Global Header -->
<div id="header" style="margin-top: 30px; position: relative;">
    <div style="position: absolute; right: 0; top: -20px; font-size: 0.9em">
      Hi <strong><%=user.FirstName%>!</strong>  
      <small style="margin-left: 20px; font-size: 0.9em;">LastLogin: <%=user.LastLogin%></small>
      <small style="margin-left: 5px; font-size: 0.9em;">Not <%=user.FirstName%>? 
      <a href="/logout">Logout</a></small>
      
         </div>
    <table class="gh-tbl">
        <tbody>
        <tr>
            <td class="gh-td">
                <!--[if lt IE 9]><a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay
                    <img width="117" height="120" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="http://ir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]-->
                <!--[if (gte IE 9)|!(IE)]><!--><a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a><!--<![endif]-->
            </td>
            <td class="gh-td">
                <div id="gh-shop">
                </div>
            </td>
            <td class="gh-td-s">
                <form id="gh-f" method="get" action="/search">
                    <table class="gh-tbl2">
                        <tbody>
                        <tr>
                            <td class="gh-td-s">
                                <div id="gh-ac-box">
                                    <div id="gh-ac-box2">
                                        <label for="gh-ac" class="gh-hdn g-hdn">
                                            Enter your search keyword
                                        </label>
                                        <input type="text" class="gh-tb ui-autocomplete-input" size="50" maxlength="300"
                                               placeholder="Search..." id="gh-ac" name="q" autocapitalize="off" autocorrect="off"
                                               spellcheck="false" autocomplete="off">
                                    </div>
                                </div>
                            </td>
                            <td class="gh-td" id="gh-cat-td">
                                <div id="gh-cat-box">
                                     <select title="Select a category for search" class="gh-sb gh-sprRetina" size="1" id="gh-cat" name="category">
                                        <option selected="selected" value="all">All Categories</option>
                                       <%for(var cat =0;cat<allCategories.length;cat++){%>
                                       <option value="<%=allCategories[cat].category%>"><%=allCategories[cat].category%></option>
                                       <%}%>
                                    </select>
                                </div>
                            </td>
                            <td class="gh-td">
                                <input type="submit" class="btn btn-prim gh-spr" id="gh-btn" value="Search">
                            </td>
                            <td class="gh-td" id="gh-as-td">
                                <div id="gh-as">

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- my-ebay Page content here -->

<div id="my-ebay" class="my-ebay">
    <div class="me-rtm topRtm">
        <!-- FOR US/UK/DE -->
        <div id="rtm_html_644" style="min-height: 30px;"></div>
        <!-- FOR CA/AUS -->
    </div>
    <a id="mainContent" name="mainContent" tabindex="-1"></a>
    <div id="top-nav">
        <div class="tabbable">
            <ul class="nav nav-tabs-p" role="navigation">
                <li class="tab">
                    <a href="/bids/current">Activity</a>
                </li>
                <li class="tab active">
                    <a href="/browse">Browse</a>
                </li>
                <li class="tab">
                    <a href="/account">Account</a>
                </li>
                <li class="tab">
                    <a href="/advancedSearch">Advanced Search</a>
                </li>
                <li class="tab">
               
                 <a href="/shoppingCart">Shopping Cart</a>
                </li>
            </ul>
        </div>
        <div class="tabbable-bottom"></div>
    </div>
    <div id="domain-nav">
        <div class="menu-list" role="navigation">
            <p class="menu-head selected">Categories</p>
            <div style="display: block" class="menu-body">
                <ul>
                    <li class="sub-menu-li active" id="All">
                        <a onclick="categoryClick('All'); return false;">All Categories</a>
                    </li>
                    <% for(var i=0; i<allCategories.length; i++) {%>
                    <li class="sub-menu-li" id="<%=allCategories[i].category%>">
                        <a onclick="categoryClick('<%=allCategories[i].category%>'); return false;"><%= allCategories[i].category %></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div id="main-content">
        <% var mclass = mclass || 'info';%>
    <%if (message) { %>
        <div class="alert alert-<%=mclass%>"><%=message%></div>
        <% } %>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Condition</th>
                <th>Category</th>
                <th>Cost</th>
                <th>Available Qty.</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="main-tbody"></tbody>
        </table>
    </div>
    <script>
        var main = document.getElementById('main-tbody');
        var data = <%-JSON.stringify(products)%>;
        var current_category = 'All';
        function categoryClick(category){
            console.log(category);
            var curr = document.getElementById(current_category);
            curr.className = "sub-menu-li";
            var selected = document.getElementById(category);
            selected.className = "sub-menu-li active";
            current_category = category;
            showProducts();
        }

        function showProducts(){
            var products = data[current_category] || [];
            main.innerHTML = '';
            for(var i=0; i<products.length; i++){
                main.innerHTML += productCell(products[i]);
            }
        }

        function productCell(product){
        console.log("function executed");
            var row = "<tr>";
            row += "<td><a href='/view_product/"+product['ProductName']+"'>" + product['ProductName'] + "</td>";
            row += "<td>" + product['ProductDetails'] + "</td>";
            row += "<td>" + product['ProductCondition'] + "</td>";
            row += "<td>" + product['Category'] + "</td>";
            row += "<td>$" + product['ProductCost'] + "</td>";
            row += "<td>" + product['AvailableQuantity'] + "</td>";
            
    var rating;
    if(product['rating']!=null){
     rating = product['rating']
    }else{
        rating = 'Not Yet Rated';
    }
            row += "<td>" + rating + "</td>";
            row += "<td><form action='/browse' method='POST'><input type='hidden' name='p' value='" + product['ProductId'] +"'/><input type='hidden' name='pname' value='" + product['ProductName'] + "'/>";
            if(product['IsAuction'].toLowerCase() === 'y'){
                row += "<input type='text' placeholder='bid' name='bid' style='width: 60px; margin-right: 60px;'><button class='btn btn-scnd btn-s' type='submit'>Bid</button>";
            } else {

            	var maxValue = Number(product['AvailableQuantity']);
            	row += "<input type='number' min =1 max="+maxValue+" value='1' name='quantity' style='width: 75px; margin-right: 40px;'><button name='buyorcart' value='cart' class='btn btn-prim btn-s' type='submit'>Add To Cart</button>";
            }

            row += "<br>Rating: <input type='radio' name='rating' checked value='1'/> 1 ";
            row += "<input type='radio' name='rating' value='2'/> 2 ";
            row += "<input type='radio' name='rating' value='3'/> 3 ";
            row += "<input type='radio' name='rating' value='4'/> 4 ";
            row += "<input type='radio' name='rating' value='5'/> 5 ";
            row += "</form></td></tr>";
            return row;
        }

        showProducts();
    </script>
</div>
</body>
